[submodule "distributions"]
	path = modsel/distributions
	url = git@github.com:ingmarschuster/distributions.git
[submodule "sobol_seq"]
	path = modsel/sobol
	url = git@github.com:ingmarschuster/sobol_seq.git
